@charset "utf-8";
/* CSS Document */

#slider1 {
	margin-left:25%;
}
.logo {
	margin-left:12%;
}
#mobile_map {
	width:520px;
	height:300px;
}
#contact_form {
	margin-left:12%;
}
#hours {
	margin-top:1.7em;
	margin-left:2em;
	text-align:left;
}
#contact {
	margin-left:2em;
}